.navbar{
    background-color: yellowgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navbar label{
    display: none;
}
#check:checked~.navbar ul{
    display: block;
}
@media  screen and (max-width: 600px) {
    .navbar label{
        display: block;

    }
    .navbar ul{
        display: none;
        position: absolute;
        
    }
    
}